#!/bin/sh
# chkconfig: 2345 26 74
# description: RabbitMQ to Sysmon directory
### BEGIN INIT INFO
# Provides:		rmq_2_sysmon.py
# Required-Start:	$local_fs
# Required-Stop:
# X-Start-Before:	
# Default-Start:	2 3 4 5
# Default-Stop:		0 1 6
# Short-Description:	Start and stop the RabbitMQ to Sysmon directory
# Description:		Processes messages from RabbitMQ, converts the message to JSON
#			and then writes the JSON message to the sysmon directory.
### END INIT INFO

BASE_PATH="PYTHON_PROJECT/rmq-sysmon"
MOD_LIBRARY="rabbitmq"
USER_ACCOUNT="USER_NAME"

case $1 in
   start)
      su - ${USER_ACCOUNT} -c "${BASE_PATH}/daemon_rmq_2_sysmon.py -a start -c ${MOD_LIBRARY} -d ${BASE_PATH}/config -M"
      touch /var/lock/subsys/$MOD_LIBRARY
      ;;

   stop)
      su - ${USER_ACCOUNT} -c "${BASE_PATH}/daemon_rmq_2_sysmon.py -a stop -c ${MOD_LIBRARY} -d ${BASE_PATH}/config -M"
      rm -f /var/lock/subsys/$MOD_LIBRARY
      ;;

   restart)
      rm -f /var/lock/subsys/$MOD_LIBRARY
      su - ${USER_ACCOUNT} -c "${BASE_PATH}/daemon_rmq_2_sysmon.py -a restart -c ${MOD_LIBRARY} -d ${BASE_PATH}/config -M"
      touch /var/lock/subsys/$MOD_LIBRARY
      ;;

   *)
      echo $"Usage: $0 {start|stop|restart}"

esac

