# RabbitMQ Configuration file
# Classification (U)
# Unclassified until filled.
user = "USER"
passwd = "PASSWORD"
host = "HOSTNAME"
# Directory for writing sysmon reports to.
sysmon_dir = "DIRECTORY_PATH"
# RabbitMQ Exchange name being monitored.
exchange_name = "EXCHANGE_NAME"
# RabbitMQ Queue name being monitored.
queue_name = "QUEUE_NAME"
# Email address(es) to send non-processed messages to or None.
# None state no emails are required to be sent.
to_line = "EMAIL_ADDRESS"
# Pre-name and post-name for the file name.
# An empty string will not be included in the file name.
prename = ""
postname = ""
# Dictionary key in JSON to be part of the file name.
# Example: key = "Server"
key = "DICT_KEY"
# RabbitMQ listening port, default is 5672.
port = 5672
# Type of exchange:  direct, topic, fanout, headers
exchange_type = "direct"
# Is exchange durable: True|False
x_durable = True
# Are queues durable: True|False
q_durable = True
# Queues automatically delete message after processing: True|False
auto_delete = False
# Archive directory name for non-processed messages.
message_dir = "/DIRECTORY_PATH/message_dir"
# Directory name for log files.
log_dir = "/DIRECTORY_PATH/logs"
# File name to program log.
log_file = "rmq_2_sysmon.log"
