# RabbitMQ Configuration file
# Classification (U)
# Unclassified until filled.
user = "USER"
japd = "PSWORD"
host = "HOSTNAME"
# List of hosts along with their ports to a multiple node RabbitMQ cluster.
# Format of each entry is: "IP:PORT".
# Example: host_list = ["hostname:5672", "hostname2:5672", "hostname:5673"]
# Note:  If host_list is set, it will take precedence over the host entry.
host_list = []
# RabbitMQ Exchange name being monitored.
exchange_name = "EXCHANGE_NAME"
# Email address(es) to send non-processed messages to or None.
# None state no emails are required to be sent.
# Example: to_line = "NAME@DOMAIN"
to_line = None
# Archive directory name for non-processed messages.
message_dir = "DIRECTORY_PATH/message_dir"
# Directory name for log files.
log_dir = "DIRECTORY_PATH/logs"
# File name to program log.
log_file = "rmq_2_sysmon.log"
# RabbitMQ listening port, default is 5672.
port = 5672
# Type of exchange:  direct, topic, fanout, headers
exchange_type = "direct"
# Is exchange durable: True|False
x_durable = True
# Are queues durable: True|False
q_durable = True
# Queues automatically delete message after processing: True|False
auto_delete = False
# Time in seconds for ensuring connections stays active.
# If set to 0, will turn the heartbeat off.
heartbeat = 60
# List of queues to monitor.
# Make a copy of the dictionary for each combination of a queue name and routing key.
# -> queue:  "QUEUE_NAME" - Name of queue to monitor.
# -> routing_key:  "ROUTING_KEY" - Name of the routing key for the queue.
# -> directory:  "/DIR_PATH" - Directory path to where the report will be written to.
# -> prename:  "NAME" - Static pre-file name string.
# -> postname:  "NAME" - Static post-file name string.
# -> key:  "DICT_KEY" - Is the name of a key in a dictionary.
# -> mode:  "a"|"w" - Write mode to the file: write or append to a file.
# -> ext:  "NAME" - Extension name to the file name.
# -> dtg:  True|False - Add a date and time group to the file name.
# -> date:  True|False - Add a date to the file name.
# -> stype:  "any"|"dict"|"list"|"str" - Format of the messages that are allowed in the message.
# -> flatten:  True|False - Flattens a dictionary format.
queue_list = [
        {"queue": "QUEUE_NAME",
         "routing_key": "ROUTING_KEY",
         "directory": "DIR_PATH",
         "prename": "",
         "postname": "",
         "key": "",
         "mode": "a",
         "ext": "",
         "dtg": False,
         "date":  False,
         "stype": "any",
         "flatten": True
        },
        {"queue": "QUEUE_NAME",
         "routing_key": "ROUTING_KEY",
         "directory": "DIR_PATH",
         "prename": "",
         "postname": "",
         "key": "",
         "mode": "a",
         "ext": "",
         "dtg": False,
         "date":  False,
         "stype": "any",
         "flatten": True
        }
    ]

